
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Web Dev 2016</title>

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="dashboard.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>

</head>

<body>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>
            <h2 class="page-header">Users</h2>
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Username</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Password</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Role</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><form class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputName" placeholder="username">
                            </div>
                            </form>
                        </td>
                        <td><form class="form-inline">
                            <div class="form-group">
                                <input type="password" class="form-control" id="inputPassword" placeholder="password">
                            </div>
                        </form>
                        </td>
                        <td><form class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputRole" placeholder="role1, role2">
                            </div>
                        </form>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-plus" aria-hidden="false"></span>
                            <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>alice</td>
                        <td></td>
                        <td>student</td>
                        <td>
                            <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                            <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>bob</td>
                        <td></td>
                        <td>faculty|admin</td>
                        <td>
                            <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                            <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>charlie</td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="glyphicon glyphicon-remove" aria-hidden="false"></span>
                            <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
        </div>

</body>
</html>
